<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>



<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Mail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nombre %></td>
        <td><%= usuario.mail %></td>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    

  </tbody>
</table>


<br>

<%= will_paginate @usuarios %>
 <%= link_to 'New Usuario', new_usuario_path %> 
<br>

<%= content_tag :div, class: "temp_information", data: {temp: @usuarios} do %>

<%= react_component 'MaterialUserList' %>

<% end %>

<br>

